.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

table {
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

element.style {
  padding: 5px;
}

col-lg-2 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
