.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.post_element {
  font-size: 25px;
  padding: 50px 0;
  padding-top: 100px;
}

table {
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

element.style {
  margin: auto;
  padding: auto;
  border: auto;
}

small-container {
  margin: 12px;
  padding: 15px;
}

.searchbar {
  box-sizing: border-box;
  line-height: 20px;
  min-height: 1px;
  padding-bottom: 5px;
  margin-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  position: relative;
  text-size-adjust: 100%;
  width: 750px;
  -webkit-tap-highlight-color: rgba(0, 0, 0);
}

form {
  display: block;
  margin-top: 0em;
}

.title-align {
  margin: auto;
}

.hidden-xs {
  border: auto;
  margin: auto auto;
}
