.post-element {
  background-color: #fff;
  box-shadow: 0 1px 2px #c4c4c4;
  margin-bottom: 20px;
  height: auto;
  border-radius: 5px;
}

.boarder-header {
  padding-bottom: 20px;
  border: 0 solid #ddd;
  border-bottom-width: 1px;
  padding: 5px 0 5px 5px;
  height: auto;
}

.board-title {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  display: inline-block;
  word-break: break-all;
  margin-bottom: 10px;
}

.comment-box {
  margin-left: 10px;
}
.board-user,
.page-name,
.board-hits,
.board-date {
  display: inline-block;
  color: #000;
  font-size: 15px;
  line-height: 14px;
  margin-top: 3px;
  margin-bottom: 10px;
}

.post-element {
  background-color: #fff;
  box-shadow: 0 1px 2px #c4c4c4;
  margin-bottom: 20px;
  height: auto;
  /*border-radius: 5px;*/
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  font: inherit;
  color: inherit;
}

input {
  line-height: normal;
}

.board-comments .comment .comment-header {
  margin-bottom: 5px;
  color: #252525;
  margin: 0 7px;
}

content {
  display: inline-block;
  color: #666;
  font-size: 14px;
  padding-bottom: 4px;
}

.comment-number {
  color: #000066;
  font-weight: 600;
}
