@import "reset.css";
@import "login.css";
@import "status-bar.css";
@import "application.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

body {
  font-family: Verdana, Arial, Gulim, helvetica, sans-serif;
  background-color: #f8f8f8;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  margin: 0;
  display: block;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}
nav {
  padding: 0;
  background-color: #1266ff !important;
  border-width: 0 !important;
  border-radius: 0 !important;
  margin-bottom: 0 !important;
}

.navbar {
  min-height: 50px;
  border: 1px solid transparent;
}

.nav-bar-edit {
  position: absolute !important;
}

.mgothic {
  font-family: "맑은 고딕", Verdana, Arial, Gulim, helvetica, sans-serif;
}

.post_element {
  padding: 0 0 5px;
  padding-left: 12px;
  font-size: 22px;
  margin-top: 50px;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

head {
  display: none;
}

div {
  display: block;
}

.header {
  border-bottom-width: 3px;
}
